<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1> Add a Todo</h1>
   <form action="/" method="POST"></form>
   <p> Todo Title</p>
   <!-- <textarea name="hi" id="Hi" cols="150" rows="1"></textarea> -->
   <input type="text" placeholder="Write Todo title" size="150px">
   <p> Todo Description</p>
   <!-- <textarea name="hi" placeholder = "Hi" id="Hi" cols="150" rows="1"></textarea> -->
   <input type="text" placeholder="Write Todo Description" size="150px"><br><br>
   <button class="btn" style="background-color: rgb(255, 255, 255); border-radius:5px; width:100px; height:25px; font-weight:bold; cursor:pointer;">Submit</button>

   {% if  %}
    
   {% endif %}
   {% if  %}
    
   {% else %}
    
   {% endif %}
   {% block  %}
    
   {% endblock  %}
   {% extends '.html' %}
</body>
</html>